html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    background-color: #000000;
    background-image: url("images/background1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: courier;
}

#wrapper {
    width:300px;
}

#content {
    display: none;
}

#loading {
    text-align: center;
}

#loading img {
    margin-top: 150px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    padding: 5px 0 0 0;
    margin: 0;
    color: #FFD02F;
}

p.only {
    margin: 15px;
    padding: 20px;
    background-color: #000000;
    -webkit-border-radius: 20px;
    opacity: 0.8;
    text-align: center;
    margin-top: 20px;
}

p#force-download {
    margin: 15px;
    padding: 10px;
    color: #4ee630;
    background-color: #333333;
    border: solid 2px #4ee630;
    -webkit-border-radius: 20px;
    opacity: 0.8;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}


#filter {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-size: arial;
    color: #396c2f;
    border-bottom: 2px solid #FFD02F;
    border-top: 2px solid #FFD02F;
    padding: 5px 0;
}

#filter span {
}

#filter .current {
    color: #49b733;
}

.talk {
    width: 300px;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #111111;
    opacity: 0.8;
    border: 1px solid #333333;
    -webkit-border-radius: 10px;
}

.talk .icons {
    width: 40px;
    float: left;
    margin-right: 5px;
}

.talk .icons img {
    margin-bottom: 5px;
}

.talk .content {
    width: 255px;
    float: left;
}

.talk .title {
    font-weight: bold;
}

.talk .speakers {
}

.talk .speaker {
    display: inline;
    color: #AFAFAF;
    font-size: 13px;
    text-decoration: underline;
}

.talk .meta {
    font-size: 13px;
    color: #999999;
}

.talk .description {
    display: none;
    margin-top: 5px;
}

.talk .speaker-bios {
}

.talk .speaker-bio {
    width: 243px;
    margin-top: 5px;
    font-size: 13px;
    padding: 5px;
    color: #a0a0a0;
    background-color: #000000;
    border: 1px solid #111111;
    -webkit-border-radius: 10px;
}

.cleared {
    clear: both;
}

#query {
    color: #FFD02F;
    text-align: center;
}

#query a {
    color: inherit;
    text-decoration: underline;
}