html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    background-color: #000000;
    font-family: courier;
}

#wrapper {
    width:300px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
    color: #FFD02F;
}

.talk {
    width: 300px;
    margin-bottom: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #111111;
    border: 1px solid #333333;
    -webkit-border-radius: 10px;
}

.talk .fav {
    width: 40px;
    float: left;
    margin-right: 5px;
}

.talk .content {
    width: 255px;
    float: left;
}

.talk .title {
    font-weight: bold;
}

.talk .speakers {
}

.talk .speaker {
    display: inline;
    color: #AFAFAF;
    font-size: 13px;
    text-decoration: underline;
}

.talk .meta {
    font-size: 13px;
    color: #999999;
}

.talk .description {
    display: none;
    margin-top: 5px;
}

.cleared {
    clear: both;
}
